<span *ngFor="let entry of resourceData | keys">
  <div *ngIf="isString(entry.value);then text else check"></div>
  <ng-template #text>{{entry.key}}: {{entry.value}} <br /></ng-template>
  <ng-template #check>
    <div *ngIf="isArray(entry.value);then array else object"></div>
  </ng-template>
  <ng-template #object>{{entry.key}}:<a [routerLink]="['/list-view', entry.value.resourceType, entry.value.id]">{{entry.value.name}}</a> <br /></ng-template>
  <ng-template #array>
    {{entry.key}}:
    <span *ngFor='let obj of entry.value'>
      <a [routerLink]="['/list-view', obj.resourceType, obj.id]">
        {{obj.name || obj.title}},
      </a>
    </span> <br />
  </ng-template>
</span>

